.main {
  display: flex;
  justify-content: space-between;
}

.totalWrapper {
  display: flex;
  font-size: 14px;
  font-weight: 600;
  gap: 10px;
  align-items: center;
}

.btns {
  display: flex;
  gap: 10px;
}

.btns button {
  padding: 0 1.4rem;
  font-size: 14px;
  font-weight: 600;
  color: white;
  border: none;
  outline: none;
  border-radius: var(--global-radius);
  cursor: pointer;
}

#resetBtn {
  background-color: var(--warning-color);
}

#submitBtn {
  background-color: var(--success-color);
}
