.grid {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  /* gap: var(--global-gap); */
  margin-top: var(--global-gap);
}

.grid > h5 {
  transition: var(--global-transition);
  cursor: pointer;
}

.grid > h5:hover {
  background-color: var(--primary-font-color);
  color: var(--primary-bg-color);
}

.main {
  display: grid;
  gap: var(--global-gap);
}

.main > div {
  display: grid;
  grid-template-rows: 1fr;
  transition: 0.5s ease;
}

.transition {
  overflow: hidden;
}

.main > .hide {
  grid-template-rows: 0fr;
}
